<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="net.xiangyawen.netctoss.dao.RoleMapperDao">

	<!-- findByPage 分页-->
	<select id="findByPage"
		parameterType="net.xiangyawen.netctoss.vo.Page"
		resultMap="roleMap">
		SELECT * FROM (
			SELECT * FROM (
				SELECT * FROM role_info ORDER BY role_id
			) a
		) b LIMIT #{begin},#{end}
	</select>
	<!-- 关联查询出模块，传入条件为role_id -->
	<select id="findModuleByRoleId"
		parameterType="int"
		resultType="net.xiangyawen.netctoss.entity.Module">
		select * from module_info
		where module_id in (
			select module_id from role_module
			where role_id=#{role_id}
		)
	</select>
	<resultMap id="roleMap" 
		type="net.xiangyawen.netctoss.entity.Role">
		<id column="role_id" property="role_id"/>
		<collection select="findModuleByRoleId" column="role_id" javaType="arraylist"
			ofType="net.xiangyawen.netctoss.entity.Module" 
			property="modules">
		</collection>
	</resultMap>
	
	<!-- 
	SELECT rt.ROLE_ID,rt.NAME,rp.ROLE_ID,rp.MODULE_ID FROM(  
			SELECT ro.ROLE_ID,ro.NAME
				FROM
				(SELECT tt.ROLE_ID,tt.NAME
					FROM
	  				(SELECT r.ROLE_ID,r.NAME FROM role_info r ORDER BY r.ROLE_ID) tt
				) ro  LIMIT #{begin},#{end}) rt 				
			LEFT OUTER JOIN role_module rp 				
		ON (rt.ROLE_ID=rp.ROLE_ID)
		这条语句的思路是:先查询role_info分页条数，再关联role_module表
	 -->
	
	<!-- findRows 统计角色-->
	<select id="findRows"
		resultType="int">
		select count(*) from role_info
	</select>	

	<!-- findAllModule 查出所有模块-->
	<select id="findAllModule" resultType="net.xiangyawen.netctoss.entity.Module">
		select * from module_info order by module_id
	</select>
	
	<!-- saveRole 根据插入role_info的值获取id-->
	<insert id="saveRole" useGeneratedKeys="true" 
	keyProperty="role_id" parameterType="net.xiangyawen.netctoss.entity.Role">  
    	INSERT INTO role_info (NAME) VALUES(#{name}) 
	</insert> 
	
	
	<!-- saveRoleModule -->
	<insert id="saveRoleModule" parameterType="HashMap">
		insert into role_module values(#{role_id},#{module_id})
	</insert>
	
	<!-- findByName -->
	<select id="findByName" parameterType="String" resultType="net.xiangyawen.netctoss.entity.Role">
		select * from role_info where name=#{name}
	</select>
	
	<!-- findById -->
	<select id="findById" parameterType="int" resultMap="roleMap">
		select * from role_info where role_id=#{id}
	</select>
	
	
	<!-- update -->
	<update id="update" parameterType="net.xiangyawen.netctoss.entity.Role">
		update role_info set name=#{name} where role_id=#{role_id}
	</update>
	
	<delete id="deleteRoel" parameterType="int">
		delete from role_info where role_id=#{role_id}
	</delete>
	
	<!-- deleteRoleModule -->
	<delete id="deleteRoleModule" parameterType="int">
		delete from role_module where role_id=#{roleId}
	</delete>

</mapper>